.App {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background: #1e1e1e;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 100%;
  
    h1 {
      color: #e0e0e0;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      div[name="url-input"] {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
  
      label {
        font-size: 1.2rem;
        color: #e0e0e0;
      }
  
      input[type="text"],
      input[type="range"] {
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
      }
  
      div[name="browser-slider"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        input[type="range"] {
          flex-grow: 1;
          margin-right: 1rem;
        }
      }
  
      input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
      }

      div[name="button-area"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: white;
        background-color: #007BFF;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  
  .Toastify__toast {
    background-color: #333;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
  }